<%- include('partials/header') %>

<form action="" id="formulario-registro" autocomplete="off" method="post">
  <div class="card mt-2">
    <div class="card-header"><strong>Registro</strong></div>

    <div class="card-body">
      
      <div class="row g-2">
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <select name="marcas" id="marcas" class="form-select" required>
              <option value="" disabled>Seleccione</option>
              <!-- Las marcas se cargan desde la BD -->
              <option value="1" selected>KIA</option>
            </select>
            <label for="form-label">Marcas</label>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <input type="text" id="modelo" value="Sportage" name="modelo" class="form-control" placeholder="Modelo" required>
            <label for="form-label">Modelo</label>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md-4 mb-2">
          <div class="form-floating">
            <input type="text" id="color" value="Blanco" name="color" class="form-control" placeholder="Color" required>
            <label for="form-label">Color</label>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-floating">
            <select name="combustible" id="combustible" class="form-select" required>
              <option value="" disabled>Seleccione</option>
              <option value="Diesel">Diesel</option>
              <option value="Gasolina" selected>Gasolina</option>
              <option value="GLP">GLP</option>
              <option value="GNV">GNV</option>
              <option value="Híbrido">Híbrido</option>
            </select>
            <label for="form-label">Combustible</label>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-floating">
            <input type="text" value="2025" minlength="4" maxlength="4" pattern="[0-9]+" id="afabricacion" name="afabricacion" class="form-control" placeholder="Año de fabricación" required>
            <label for="form-label">Año de fabricación</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-floating">
            <select name="condicion" id="condicion" class="form-select" required>
              <option value="Nuevo">Nuevo</option>
              <option value="Seminuevo">Seminuevo</option>
            </select>
            <label for="form-label">Condición</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
      <a href="/" class="btn btn-sm btn-secondary">Cancelar</a>
    </div>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const formulario = document.querySelector("#formulario-registro")

    formulario.addEventListener("submit", (event) => {
      event.preventDefault()

      Swal.fire({
        title: 'Vehículos',
        text: '¿Está seguro de registrar?',
        icon: 'question',
        footer: 'SENATI - Ingeniería Software',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#2980b9',
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        cancelButtonColor: '#c0392b'
      }).then((result) => {
        if (result.isConfirmed){
          console.log("Guardando datos...")
        }
      })

    })
  })
</script>

<%- include('partials/footer') %>