<%- include('partials/header') %>


  <main class="container text-center mt-5">
    <h2 class="mb-4">Bienvenido a la tienda</h2>
    <div class="d-grid gap-3 col-6 mx-auto">
      <a href="/create" class="btn btn-primary btn-lg">Registrar Producto</a>
      <a href="/catalogo" class="btn btn-success btn-lg">Ver Catálogo</a>
    </div>
  </main>


<%- include('partials/footer') %>
